__pycache__/
_build/
*.pyc
yarn.lock
.DS_Store
/.coverage
/.pytest_cache/
/.vscode/
/datafiles/
/htmlcov/
/media/
/node_modules/
/static/
*.csv
/*.sql
# conf specific to the instance
adock/settings_local.py
