[MASTER]
load-plugins=pylint_django

[MESSAGES CONTROL]
#   C0111 = Missing docstring
#   C0103 = Invalid name
#   R0801 = Duplicate code
#   W0613 = Unused argument
#   C0330 = Wrong hanging indentation before block (add 4 spaces) 
disable=C0111,C0103,R0801,W0613,C0330

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
