pip>=18.1
Django==2.1.7
djangorestframework==3.9.0
psycopg2-binary==2.7.6.1
jinja2
django-cors-headers==2.4
phonenumbers==8.10.1
django-phonenumber-field==2.1.0
sentry_sdk==0.6.6
requests==2.20.1
webstack-django-jwt-auth==1.1.2
# To import labelled carriers of Objectif CO2
openpyxl
# To parse Sirene page
beautifulsoup4
qrcode[pil]==6.1
